@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hanken Grotesk", sans-serif;
}

:root {
  --primary-light-red: hsl(0, 100%, 67%);
  --orangey-yellow: hsl(39, 100%, 56%);
  --green-teal: hsl(166, 100%, 37%);
  --cobalt-blue: hsl(234, 85%, 45%);
  --dark-blue: hsl(224, 30%, 27%);
}

.outer_container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.main_card_container {
  width: 740px;
  height: 500px;
  display: flex;
  border-radius: 30px;
  box-shadow: 10px 10px 20px hsla(234, 85%, 45%, 0.1);
  overflow: hidden;
}

.left_result_container {
  width: 50%;
  border-radius: 30px;
  background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 37px 30px;
}

.left_result_container > h1 {
  color: hsl(221, 100%, 96%);
}

.score_container {
  background: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  padding: 0px 40px;
}

.score_container > p:nth-child(1) {
  font-size: 4.1rem;
  font-weight: bold;
}

.score_container > p:nth-child(2) {
  font-size: 1rem;
  font-weight: bold;
  color: hsla(0, 0%, 100%, 0.5);
}

.score_text {
  margin-top: 30px;
  color: white;
  font-size: 2rem;
}

.score_description {
  margin-top: 20px;
  color: hsla(0, 0%, 100%, 0.5);
  font-size: 1.1rem;
  padding: 0px 30px;
}

.right_summary_container {
  width: 50%;
  background: white;
  padding: 37px 40px;
}

.right_summary_container > h2 {
  margin-bottom: 30px;
  color: var(--dark-blue);
}

.summary_type_container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  border-radius: 10px;
  padding: 17px 20px;
}

.summary_type_container > div {
  display: flex;
}

.summary_type_container > div > img {
  margin-right: 10px;
}

.summary_type_container:nth-child(1) {
  background: hsla(0, 100%, 67%, 0.1);
}

.summary_type_container:nth-child(1) > div > p {
  color: var(--primary-light-red);
  font-weight: bold;
}

.summary_type_container:nth-child(2) {
  background: hsla(39, 100%, 56%, 0.1);
}

.summary_type_container:nth-child(2) > div > p {
  color: var(--orangey-yellow);
  font-weight: bold;
}

.summary_type_container:nth-child(3) {
  background: hsla(166, 100%, 37%, 0.1);
}

.summary_type_container:nth-child(3) > div > p {
  color: var(--green-teal);
  font-weight: bold;
}

.summary_type_container:nth-child(4) {
  background: hsla(234, 85%, 45%, 0.1);
}

.summary_type_container:nth-child(4) > div > p {
  color: var(--cobalt-blue);
  font-weight: bold;
}

.summary_type_container > p {
  color: rgb(141, 141, 141);
  font-weight: bold;
  font-size: 17px;
}

.score_amount {
  color: var(--dark-blue);
  margin-right: 5px;
}

.continue_container {
  width: 100%;
  background: var(--dark-blue);
  color: white;
  padding: 15px 10px;
  border: none;
  border-radius: 25px;
  margin-top: 30px;
  font-size: 16px;
  font-weight: bold;
}

.continue_container:hover {
  background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .main_card_container {
    flex-direction: column;
    width: 400px;
    height: auto;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .left_result_container {
    width: 100%;
  }

  .score_container {
    width: 175px;
    height: 175px;
  }

  .score_description {
    margin-top: 10px;
    color: hsla(0, 0%, 100%, 0.5);
    font-size: 1.1rem;
    padding: 0px 20px;
  }

  .right_summary_container {
    width: 100%;
    background: white;
    padding: 37px 40px;
  }
}

@media only screen and (max-width: 425px) {
  .outer_container {
    display: flex;
    justify-content: center;
    align-items: start;
    min-height: auto;
  }

  .main_card_container {
    width: 100%;
    height: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 0px;
  }

  .left_result_container > h1 {
    color: hsla(0, 0%, 100%, 0.5);
    font-size: 1.2rem;
  }

  .score_container {
    width: 150px;
    height: 150px;
  }

  .score_text {
    font-size: 1.5rem;
  }

  .score_description {
    color: hsla(0, 0%, 100%, 0.5);
    font-size: 1.0rem;
  }

  .left_result_container {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }

  .right_summary_container {
    padding-top: 25px;
  }

  .right_summary_container > h2 {
    margin-bottom: 25px;
    font-size: 1.2rem;
  }

  .continue_container {
    margin-top: 10px;
    font-weight: bold;
  }
}

